.page {
  width: 960px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

.table-wrapper {
  margin: 20px auto;
}

.pagination-pages-wrapper {
  display: flex;
  width: 740px;
  margin: 20px auto;
  position: relative;
  justify-content: center;
}

.pagination {

}

.item-count {
  position: absolute;
  right: 0;
}

.info-todo {
  width: 960px;
  margin: 20px 0;
  padding: 0;
}

.info-todo > li {
  display: list-item;
}