.table-wrapper {
  margin: 20px auto;
}

.pagination-pages-wrapper {
  display: flex;
  width: 740px;
  margin: 20px auto;
  position: relative;
  justify-content: center;
}

.pagination {

}

.item-count {
  position: absolute;
  right: 0;
}